<!--<form method="post" th:action="@{/feedback/new}" th:object="${form}">-->
<!--    &lt;!&ndash; rating &ndash;&gt;-->
<!--    <input type="number" min="1" max="5" th:field="*{rating}" />-->

<!--    <input type="text" th:field="*{title}" placeholder="Nhập tiêu đề phản hồi"/>-->

<!--    <textarea th:field="*{content}" placeholder="Hãy chia sẻ trải nghiệm của bạn..."></textarea>-->

<!--    <button type="submit">Gửi phản hồi</button>-->
<!--</form>-->

<!--<div th:if="${error}" th:text="${error}" style="color:red"></div>-->
